h1 {
  text-align: center;
  font-style: italic;
  margin-top: 30px;
}

.button {
  display: flex;
}

.button input {
  display: none;
}

.button label {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  background: rgb(254, 254, 250);
  background: linear-gradient(
    90deg,
    rgba(66, 109, 170, 1) 10%,
    rgba(175, 185, 201, 1) 68%
  );
  cursor: pointer;
  border-style: solid;
  border-radius: 25px;
  text-align: center;
  border-color: #fefefa;
}

.button input:checked + label {
  border-color: rgb(0, 0, 0);
}

.book_button {
  align-self: center;
  background-color: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-radius: 16px;
  border-width: 1px;
  padding: 7px;
  margin: 5px;
}

.generate_playlist_button{
  background: linear-gradient(
    90deg,
    rgba(66, 109, 170, 1) 10%,
    rgba(175, 185, 201, 1) 68%
  );
  cursor: pointer;
  width: 30em !important;
  margin-top: 50px;
  margin-bottom: 15px;
}