.uploadBookComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonAndTextBox {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.selectedBook {
  width: 200px;
  height: 30px;
  border: 2px solid #000000;
  border-radius: 0;
  resize: none;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}

.browseButton {
  background: #4d6381;
  border-top: 2px solid #000000;
  border-right: 2px solid #000000;
  border-bottom: 2px solid #000000;
  border-left: 0px solid #000000;
  color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  cursor: pointer;
  height: 38px;
}

.dragAndDrop {
  border: 3px dashed #000000;
  border-radius: 6px;
  text-align: center;
  width: 250px;
  height: 50px;
  cursor: pointer;
  color: #000000;
  padding-top: 20px;
  margin-bottom: 30px;
}

.dragAndDrop p {
  margin-top: -1px;
}

.dragAndDrop.dragging {
  background-color: #f0f8ff;
  border-color: #4682b4;
}
